<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM Application Automation Test Suite">

	<listeners>
		<listener class-name="resources.ExtentReporterNG" />
	</listeners>

	<test name="Free CRM Application Test">
		<classes>
			
			<class name="com.crm.qa.testcases.ContactsPageTest"/>
			<!-- 
			<class name="com.crm.qa.testcases.LoginpageTest" />
			<class name="com.crm.qa.testcases.HomePageTest"/> 
			-->

		</classes>
	</test> <!-- Free CRM Application Test -->
</suite> <!-- Free CRM Application Automation Test Suite -->
